@page
@model CustomerModel

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Customers</title>

        <style>
            table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            }

            td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            }

            tr:nth-child(even) {
            background-color: #dddddd;
            }

            .heading {
                color: #000;
                text-decoration: none;
            }
        </style>
    </head>

    <body>
        <h1>Customer Information</h1>

        @{
            List<Customer>? customers = (List<Customer>)ViewData["customers"];
            bool insert = false;
            int CustomerID = 0;

            if (ViewData["insert"] != null)
            {
                insert = true;
            }

            if (ViewData["CustomerID"] != null)
            {
                CustomerID = (int)ViewData["CustomerID"];
            }

            if (customers != null)
            {
                @:<table>
                    <tr>
                        <th><a class="heading" asp-page="/Customer" asp-route-sort="ID">ID</a></th>
                        <th><a class="heading" asp-page="/Customer" asp-route-sort="Name">Name</a></th>
                        <th><a class="heading" asp-page="/Customer" asp-route-sort="Email">Email</a></th>
                        <th>Action</th>
                    </tr>

                    @foreach (var customer in customers)
                    {
                        @if (CustomerID != customer.ID)
                        {
                            <tr>
                                <td>@customer.ID</td>
                                <td>@customer.Name</td>
                                <td>@customer.Email</td>
                                <td>
                                    <form method="post">
                                        <button type="submit" name="delete" value="@customer.ID">Delete</button>
                                        <button type="submit" name="edit" value="@customer.ID">Edit</button>
                                    </form>
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>@customer.ID</td>
                                <form method="post">
                                    <input type="hidden" name="editing" value="editing" />
                                    <input type="hidden" name="id" value="@customer.ID" />
                                    <td><input type="text" name="name" value="@customer.Name" /></td>
                                    <td><input type="text" name="email" value="@customer.Email" /></td>
                                    <td><button type="submit">Submit</button></td>
                                </form>
                            </tr>
                        }
                    }
                @:</table>
            }

            if (insert)
            {
                <form method="post">
                    <input type="hidden" name="inserting" value="inserting" />
                    Enter your name: <input type="text" name="name" required /> <br>
                    Enter your email: <input type="text" name="email" required /> <br>
                    <button type="submit">Submit</button>
                </form>
            }
            else
            {
                <form method="post">
                    <input type="hidden" name="insert" value="insert" />
                    <button type="submit">Insert data</button>
                </form>
            }
        }
    </body>
</html>